#jgrid-setup {position:fixed; top:0;
	right:0; 
	width:85px; 
	height:370px; 
	background-color:#DDD; 
	padding:0 10px; 
	border-radius:0 0 0 5px; 
	border-left:1px solid #999; 
	border-bottom:1px solid #999; 
	z-index:999;
}
#show-hide { 
	display:block; 
	width:80px; 
	height:30px; 
	text-transform:uppercase; 
	border:0; 
	border-radius:3px;
	margin:10px 0 10px;
	padding:0; 
	color:#fff; 
	cursor:pointer;
	text-align:center;
	line-height:30px;
	background-color:#929292;
}

#jgrid-form 					 { font-family: sans-serif; color:#222; font-size:14px; }
#jgrid-form label 				 { display:block; padding:0; margin:10px 0; cursor:pointer; }

#jgrid-form input 				 { padding:0; margin:0; border:3px solid #FFF; border-radius:3px; }
#jgrid-form input[type=number] 	 { width:60px; height:22px;}
#jgrid-form input[type=checkbox] { margin-right:3px; }

#jgrid-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.2;
	z-index:997;
}

#jgrid-wrapper 		{ width:960px; margin:0 auto; background-color:rgb(255, 192, 203); height:100%; z-index:998; }
#jgrid-wrapper > span { 
	width:70px; 
	margin-right:10px; 
	height:100%; 
	background-color:#000;
	opacity:0.3;
	display:block;
	float:left;
}
#jgrid-wrapper > span:last-child 	{ margin-right:5px; }
#jgrid-wrapper > span:first-child 	{ margin-left:5px; }

#jgrid-col-width {
	position:fixed;
	top:5px;
	left:5px;
	color: #EEE;
	background-color: #555;
	border-radius: 5px;
	height: 63px;
	width: 105px;
	display: block;
	font-size: 16px;
	padding: 5px;
}